#fileDate, #fileSize, #textDate, #urlDate {
    color: #444444;
    font-size: 9px;
    font-family: "Roboto";
}

#fileName, #text, #url {
    color: #444444;
    font-size: 10px;
    font-family: "Roboto";
}

#fileUserLabel, #urlUserLabel, #textUserLabel {
    color: #3E9BD5;
    font-family: "Roboto";
    font-size: 9px;
}

#historyListWidget {
    show-decoration-selected: 0;
    outline: 0;
}

#historyListWidget::item {
    border-bottom: 1px solid qlineargradient(spread:reflect, x1:0.498, y1:0.00568182, x2:1, y2:0.00568182, stop:0.321608 rgba(150, 150, 150, 20), stop:1 rgba(255, 255, 255, 20));
}

#historyListWidget::item:hover {
    background: qlineargradient(spread:reflect, x1:0.498, y1:0.00568182, x2:1,
                                y2:0.00568182, stop:0.321608 rgba(150, 150, 150, 20),
                                stop:1 rgba(255, 255, 255, 20));
    border-bottom: 1px solid qlineargradient(spread:reflect, x1:0.498, y1:0.00568182, x2:1, y2:0.00568182, stop:0.321608 rgba(150, 150, 150, 20), stop:1 rgba(255, 255, 255, 20));
    border-top: 1px solid qlineargradient(spread:reflect, x1:0.498, y1:0.00568182, x2:1, y2:0.00568182, stop:0.321608 rgba(150, 150, 150, 20), stop:1 rgba(255, 255, 255, 20));
}

#historyListWidget::item:selected, #historyListWidget::item:selected:!active, #historyListWidget::item:selected:active {
    border: none;
}

QProgressBar:horizontal {
    background: white;
}

QProgressBar::chunk:horizontal {
    background: #7CB2D3;
}
