#fileDate, #fileSize, #textDate, #urlDate {
    color: #444444;
    font-size: 8px;
    font-family: "Roboto";
}

#fileName, #text, #url {
    color: #444444;
    font-size: 9px;
    font-family: "Roboto";
}

#fileUserLabel, #urlUserLabel, #textUserLabel {
    color: #3E9BD5;
    font-family: "Roboto";
    font-size: 8px;
}
