[Desktop Entry]
GenericName=Files Drag & Drop
Name=filesdnd
Version=2.0
Exec=bash /usr/bin/filesdnd.sh
Comment=Files Drag & Drop
Icon=ic_launcher.png
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Utility;
